/*	Google Fonts */

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* All HTML elements have default values for their "margin" and "padding" properties. Giving them for value of "0"makes it easier for us to manipulate the size */

nav {
	/*Shorthand property: Apply padding on all sides */
	padding: 0.8rem;
	/*Creates space between the nav and the intro section */
	/* The margin-bottom property only changes the space at the bottom of the element. */
	
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
}

/*Selector Combinator: Type_Selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}
/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align" property is still better to use.*/

/*We have used descendant*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/* 
- The selector used is a descendant selector.
*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*Inline-block allows the card to appear beside each other */
	display: inline-block;
	/* Vertical align top allows our elements to be aligned at the top */
	vertical-align: top;
	/* Allows for cards to have equal height that adjust with the content */
	min-height: 175px;
	/*Use only 30% and not 33.33% to avoid overflow and horizontal scrolling */
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7 rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*ACTIVITY*/

#pre-footer {
	background-color: #002540;

}

#pre-footer h3 {
	color: white;
}

#pre-footer p {
	color: white;
}

#pre-footer div {
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*padding-left: 1rem;
	padding-right: 1rem;*/
	display: inline-block;
	vertical-align: bottom;
	min-height: 175px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


